

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.container {
  display: flex;
}

.sidebar {
  background-color: rgb(0, 0, 255);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background-color: rgb(255, 255, 255);
  width: 80%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sub-title-button button {
  font-weight: 500;
  font-size: 15px;
  background: #e8e8e8;
  border-radius: 5px;
  border-width: 1px;
  border-style: none;
  padding: 10px 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.sub-title-button button:hover {
  background-color: #00d61d;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  border-style: none;
}

.sub-title-input {
  padding: 10px 15px;
  border: unset;
  border-radius: 5px;
  color: #212121;
  background: #e8e8e8;
  font-weight: 500;
  font-size: 15px;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  text-align: start;
}